body{
	//background-color: #580101;
}
.home{
	margin-top: 50px;
	//position: relative;
	//height: 80vh;
}
.intro-header{
	list-style: none;
	//top: 40%;
	//position: absolute;
	padding: 0;
	div{
		text-align: center;
		a.intro-link{
			color: $grey-color-dark;
			font-family: $diadact-font;
			font-size: 60px;
			line-height: 80px;
			display: block;
			&:hover{
				font-family: 'Cabin Sketch', cursive;
				text-decoration: none;
				font-size: 62px;
				line-height: 80px;
			}
			&.audioroger{
				margin-bottom: 100px;
				@include media-query($on-laptop) {
	        margin-bottom: 30px;
		    }
				@include media-query($on-palm) {
	        margin-bottom: 30px;
		    }
			}
			&.build{
				margin-bottom: 150px;
				@include media-query($on-laptop) {
	        margin-bottom: 30px;
		    }
				@include media-query($on-palm) {
	        margin-bottom: 30px;
		    }
			}
			&.sound{
				margin-bottom: 150px;
				@include media-query($on-laptop) {
	        margin-bottom: 30px;
		    }
				@include media-query($on-palm) {
	        margin-bottom: 30px;
		    }
			}
			&.code{
				margin-bottom: 150px;
				@include media-query($on-laptop) {
	        margin-bottom: 30px;
		    }
				@include media-query($on-palm) {
	        margin-bottom: 30px;
		    }
			}
		}
	}
}

.cabin{
	font-family: $cabin-font;
}
.amatic{
	font-family: $amatic-font;
}
.diadact{
	font-family: $diadact-font;
}

em{
  font-size: 12px;
  line-height: 12px;
}

hr{
  margin-bottom: 10px;
}